$app-primary-color: #00b6f1;
$app-secondary-color: #038dba;
$app-background-color: #fafafa;
$app-sidenav-color: #fafafa;

$app-century-regular: Century Gothic, sans-serif;
$app-century-bold: Bold Century Gothic, sans-serif;

$top-toolbar-height: 56px;
$bottom-toolbar-height: 24px;

$sidenav-width: 256px;
$compact-sidenav-width: 170px;
$mini-sidenav-width: 66px;
