@import "../../../styles/variables.scss";

.test-page {
  // 100vh device height
  // 56px top toolbar height
  // 24px bottom toolbar height
  // height: calc(100vh - 56px);
  // padding: 12px;
  margin: 12px;
  box-shadow: 0px 3px 6px #00000029;

  .test-section {
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .section-heading {
      font-family: $app-century-bold;
      font-size: 24px;
      letter-spacing: 0px;
      font-weight: bold;
      color: #191919;
      margin: 6px 0 12px 0;
    }
  }

  .user-data {
    margin: 8px;
    padding: 12px;
    border: 1px solid;
    border-radius: 8px;
    background-color: #d0d7d7;
    cursor: pointer;

    .user-id {
      font-size: 20px;
      font-weight: bold;
    }

    .user-name {
      margin-left: 16px;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
