<div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="merchandise-details-page" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
        <div class="redeemed-section" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="12px">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span class="section-heading">Redeemed Details - </span>
            </div>
            <div fxLayout.lt-md="column" fxLayoutAlign.lt-md="start start">
                <div class="mr1">
                    <span class="redeemed-heading">Redeemed : </span><span class="redeemed-value">
                        {{ rewardOffered | currency }}
                    </span>
                </div>
                <div class="mr1">
                    <span class="redeemed-heading">Points number redeemed : </span><span class="redeemed-value">
                        {{ rewardRedeemed | currency }}
                    </span>
                </div>
                <div class="mr1">
                    <span class="redeemed-heading">Cash paid across all redeems : </span><span class="redeemed-value">
                        {{ rewardRedeemed | currency }}
                    </span>
                </div>
            </div>
        </div>

        <div class="grabit-section" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="12px">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span class="section-heading">Redeemed Grabits - </span>
            </div>
            <div fxLayout="column" fxLayoutAlign="start stretch">
                <div class="grabit-list-table">
                    <mat-table mat-table [dataSource]="grabits">
                        <ng-container matColumnDef="image">
                            <mat-header-cell *matHeaderCellDef>image</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <img class="product-img" src="../../../../assets//images/avatars/avatar-1.png"
                                    alt="product-image">
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef>name</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{ element.name | lowercase }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <mat-header-cell *matHeaderCellDef>date</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{ date | date : 'mediumDate'}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="prize">
                            <mat-header-cell *matHeaderCellDef>prize</mat-header-cell>
                            <mat-cell *matCellDef="let element;let i=index"> {{ (i%2 == 0) ? '225' : '801' }}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef>action</mat-header-cell>
                            <mat-cell *matCellDef="let element" fxLayout="row wrap" fxLayoutAlign="start center"
                                fxLayoutGap="5px">
                                <button mat-icon-button matTooltip="View Vendor Details" matTooltipPosition="above"
                                    (click)="goToDetailsPage(element._id)">
                                    <mat-icon aria-label="visibility icon">visibility
                                    </mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="export to invoice" matTooltipPosition="above"
                                    (click)="exportToInvoice(element._id)">
                                    <mat-icon aria-label="export icon">file_copy</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="grabitsDisplayedColumns"></mat-header-row>
                        <mat-row mat-row *matRowDef="let row; columns: grabitsDisplayedColumns;"></mat-row>
                    </mat-table>
                </div>
                <div>
                    <mat-paginator #grabitsPaginator (page)="getNewGrabits($event)" [length]="grabitsCollectionSize"
                        [pageSize]="grabitsPageSize" hidePageSize="true" [pageIndex]="grabitsPageIndex"
                        showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>