<div class="forgot-password-page" fxLayout="column" fxLayoutAlign="start stretch">

    <div class="forgot-password-page-heading" fxLayout="row" fxLayoutAlign="center center">
        <label>
            Forgot Password?
        </label>
    </div>

    <form [formGroup]="forgotForm" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <mat-label>We will email a link to reset your password.</mat-label>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="abc@email.com" formControlName="email" type="text" />
            <mat-error *ngIf="forgotForm?.get('email')?.touched || forgotForm?.get('email')?.dirty">
                <mat-error *ngIf="forgotForm?.get('email')?.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="forgotForm?.get('email')?.hasError('pattern')">
                    Please enter a valid email address
                </mat-error>
            </mat-error>
        </mat-form-field>

        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <a class="login-link" [routerLink]="['../login']">
                Log In
            </a>
            <div>
                <button class="send-btn" mat-flat-button (click)="sendForgotPasswordLink()">Send</button>
            </div>
        </div>
    </form>

</div>