<div class="auth-container" fxLayout="column" fxLayoutAlign="space-between stretch">

    <div class="main" fxLayout="row" fxLayoutAlign="center center">
        <div class="content" fxFlex="41" fxFlex.lt-sm="95" fxLayout="column" fxLayoutAlign="space-between stretch">
            <div fxLayout="row" fxLayoutAlign="center center">
                <img src="../../../../assets/logos/logo.png">
            </div>
            <div class="outlet">
                <router-outlet></router-outlet>
            </div>
            <div class="footer-links" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="9px">
                <a href="https://www.google.com/" target="_blank">
                    Terms of use
                </a>
                <div class="seperator"></div>
                <a href="https://www.google.com/" target="_blank">
                    Privacy policy
                </a>
            </div>
        </div>
    </div>

    <div class="app-footer" fxLayout="row wrap" fxLayoutAlign="center center">
        2020 iGrab Admin Web App
    </div>

</div>