<div class="reset-password-page" fxLayout="column" fxLayoutAlign="start stretch">

    <div class="reset-password-page-heading" fxLayout="row" fxLayoutAlign="center center">
        <div>
            Reset Password
        </div>
    </div>

    <form [formGroup]="resetForm" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="passwordHide ? 'password' : 'text'" placeholder="34567" formControlName="password"
                type="password" />
            <button mat-icon-button matSuffix aria-hidden="false" aria-label="Password Icon" type="button"
                (click)="passwordHide = !passwordHide">
                <mat-icon>{{ passwordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="resetForm?.get('password')?.touched || resetForm?.get('password')?.dirty">
                <mat-error *ngIf="resetForm?.get('password')?.hasError('required')">
                    Password is required
                </mat-error>
                <mat-error *ngIf="resetForm?.get('password')?.hasError('pattern')">
                    Password must contain at least 8 characters, including 1 letter and 1 number
                </mat-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="confirmPaasswordHide ? 'password' : 'text'" placeholder="34567"
                formControlName="confirmPassword" type="password" />
            <button mat-icon-button matSuffix aria-hidden="false" aria-label="Password Icon" type="button"
                (click)="confirmPaasswordHide = !confirmPaasswordHide">
                <mat-icon>{{ confirmPaasswordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="resetForm?.get('confirmPassword')?.touched || resetForm?.get('confirmPassword')?.dirty">
                <mat-error *ngIf="resetForm?.get('confirmPassword')?.hasError('required')">
                    Confirm Password is required
                </mat-error>
                <mat-error *ngIf="resetForm?.get('confirmPassword')?.hasError('mismatchedPasswords')">
                    Passwords do not match
                </mat-error>
            </mat-error>
        </mat-form-field>

        <div fxLayout="row wrap" fxLayoutAlign="center center">
            <button class="reset-btn" mat-flat-button (click)="resetPassword()">Reset</button>
        </div>
    </form>

</div>