@import "../../../styles/variables.scss";

.customer-details-page {
  // 100vh device height
  // 56px top toolbar height
  // 24px bottom toolbar height
  // height: calc(100vh - 56px);
  // padding: 12px;
  margin: 12px;
  box-shadow: 0px 3px 6px #00000029;

  mat-header-cell,
  mat-cell {
    padding: 6px 6px;
  }

  .user-info-section,
  .cash-reward-section,
  .igrab-offers-section,
  .grabits-section,
  .order-feed-section {
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .section-heading {
      font-family: $app-century-bold;
      font-size: 24px;
      letter-spacing: 0px;
      font-weight: bold;
      color: #191919;
      margin: 6px 0 12px 0;
    }
  }

  .user-info-section {
    .customer-name,
    .username {
      font-family: $app-century-bold;
      font-size: 18px;
      letter-spacing: 0px;
      font-weight: bold;
      color: #191919;
    }
  }

  .cash-reward-heading,
  .igrab-offer-heading {
    font-family: $app-century-bold;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: bold;
    color: #191919;
  }

  .cash-reward-value,
  .igrab-offer-value {
    font-family: $app-century-bold;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: bold;
    color: #191919;
  }

  .profile-photo {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
  }

  .product-img {
    border-radius: 50% !important;
    width: 60px !important;
    height: 60px !important;
    border: 2px solid rgba(0, 0, 0, 0.12);
  }
}

table,
.mat-table {
  width: 100% !important;
}

@media (max-width: 800px) {
  .product-list-table,
  .grabit-list-table,
  .order-list-table {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }
}
