<div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="merchandise-list-page" fxLayout="column" fxLayoutAlign="space-between stretch">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column"
                fxLayoutAlign.lt-md="start stretch" fxLayoutGap="16px">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="column"
                    fxLayoutAlign.lt-md="start stretch" fxLayoutGap="16px">
                    <app-search [placeholder]="placeholder" [searchQuery]="searchQuery"
                        (onInputChange)="onSearchEvent($event)"></app-search>
                    <app-select [selectedValue]="merchandiseSelectedFilter" [options]="filterTypes"
                        (onSelectionChange)="onFilterSelected($event)"></app-select>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="column"
                    fxLayoutAlign.lt-md="start stretch" fxLayoutGap="10px">
                    <button fxFlex mat-raised-button color="primary" (click)="goToAddMerchandisePage()">
                        Add Merchandise
                    </button>
                    <button fxFlex mat-raised-button color="primary" (click)="exportToExcel()">
                        Export Merchandise
                    </button>
                </div>
            </div>
            <div class="merchandise-list-table">
                <mat-table mat-table [dataSource]="merchandise" matSort matSortActive="name" matSortDisableClear
                    matSortDirection="asc" (matSortChange)="sortChange($event)">

                    <ng-container matColumnDef="profile">
                        <mat-header-cell *matHeaderCellDef>profile</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <img class="user-img" src="../../../../assets/images/avatars/avatar-3.png" alt="user-image">
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="desc">
                        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>desc</mat-header-cell>
                        <mat-cell *matCellDef="let element" [matTooltip]="element.desc" matTooltipPosition="above">
                            {{element.desc | truncate : 25}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="isSuspended">
                        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>isSuspended</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.isSuspended}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef>action</mat-header-cell>
                        <mat-cell *matCellDef="let element" fxLayout="row wrap" fxLayoutAlign="start center"
                            fxLayoutGap="5px">
                            <button mat-icon-button matTooltip="View Merchandise Details" matTooltipPosition="above"
                                (click)="goToDetailsPage(element._id)">
                                <mat-icon aria-label="visibility icon">visibility</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Edit Merchandise Details" matTooltipPosition="above"
                                (click)="goToEditMerchandisePage(element._id)">
                                <mat-icon aria-label="edit icon">edit</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="export to invoice" matTooltipPosition="above"
                                (click)="exportToInvoice(element._id)">
                                <mat-icon aria-label="export icon">file_copy</mat-icon>
                            </button>
                            <div>
                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu" matTooltip="Activate and Deactivate"
                                    matTooltipPosition="above">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item [disabled]="element.isActive"
                                        (click)="activateDeactivateMerchandise(element._id,element.isActive,element.name)">
                                        <span>Activate</span>
                                    </button>
                                    <button mat-menu-item [disabled]="element.isActive"
                                        (click)="activateDeactivateMerchandise(element._id,element.isActive,element.name)">
                                        <span>Deactivate</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="merchandiseDisplayedColumns"></mat-header-row>
                    <mat-row mat-row *matRowDef="let row; columns: merchandiseDisplayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
        <div>
            <mat-paginator #merchandisePaginator (page)="getNewMerchandise($event)" [length]="merchandiseCollectionSize"
                [pageSize]="merchandisePageSize" hidePageSize="true" [pageIndex]="merchandisePageIndex"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>