@import "../../../styles/variables.scss";

.subscriber-list-page {
  // 100vh device height
  // 56px top toolbar height
  // 24px bottom toolbar height
  // height: calc(100vh - 56px);
  padding: 12px;
  margin: 12px;
  box-shadow: 0px 3px 6px #00000029;

  mat-cell {
    padding: 6px 6px;
  }

  .user-img {
    border-radius: 50% !important;
    width: 60px !important;
    height: 60px !important;
    border: 2px solid rgba(0, 0, 0, 0.12);
  }
}

table {
  width: 100%;
}

@media (max-width: 800px) {
  .subscriber-list-table {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }
}
