@import "../../../styles/variables.scss";

.auth-page-heading {
  margin-bottom: 56px;
}

.eye-icon {
  color: gray;
  cursor: pointer;
  z-index: 10;
}

.check-box-row {
  margin-top: 7px;
  margin-bottom: 48px;
}

.remember {
  font-family: $app-century-regular;
  font-size: 15px;
  letter-spacing: 0px;
  color: #333333;
}

.forgot-password-link {
  font-family: $app-century-regular;
  font-size: 15px;
  letter-spacing: 0px;
  color: $app-primary-color;
}

.login-button {
  margin-top: 12px;
}
