<div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="change-password-page" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
        <div class="change-password-section" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="12px">
            <div fxLayout="row" fxLayoutAlign="start center">
                <span class="section-heading">Change Password - </span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <form [formGroup]="changePasswordForm" fxFlex="50" fxFlex.lt-sm="95" fxLayout="column"
                    fxLayoutAlign="start stretch" fxLayoutGap="16px">
                    <mat-form-field>
                        <mat-label>Current password</mat-label>
                        <input matInput [type]="currentPasswordHide ? 'password' : 'text'" placeholder="123456"
                            formControlName="oldPassword" type="password" tabindex="1" />
                        <button mat-icon-button matSuffix aria-hidden="false" aria-label="Password Icon" type="button"
                            (click)="currentPasswordHide = !currentPasswordHide">
                            <mat-icon>{{ currentPasswordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <mat-error
                            *ngIf="changePasswordForm?.get('oldPassword')?.touched || changePasswordForm?.get('oldPassword')?.dirty">
                            <mat-error *ngIf="changePasswordForm?.get('oldPassword')?.hasError('required')">
                                Old Password is required
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm?.get('oldPassword')?.hasError('pattern')">
                                Old password must contain at least 8 characters, including 1 letter and 1 number
                            </mat-error>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>New password</mat-label>
                        <input matInput [type]="newPasswordHide ? 'password' : 'text'" placeholder="987654"
                            formControlName="password" type="password" tabindex="2" />
                        <button mat-icon-button matSuffix aria-hidden="false" aria-label="Password Icon" type="button"
                            (click)="newPasswordHide = !newPasswordHide">
                            <mat-icon>{{ newPasswordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <mat-error
                            *ngIf="changePasswordForm?.get('password')?.touched || changePasswordForm?.get('password')?.dirty">
                            <mat-error *ngIf="changePasswordForm?.get('password')?.hasError('required')">
                                Password is required
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm?.get('password')?.hasError('pattern')">
                                Password must contain at least 8 characters, including 1 letter and 1 number
                            </mat-error>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Retype New password</mat-label>
                        <input matInput [type]="confirmNewPasswordHide ? 'password' : 'text'" placeholder="987654"
                            formControlName="confirmPassword" type="password" tabindex="3" />
                        <button mat-icon-button matSuffix aria-hidden="false" aria-label="Password Icon" type="button"
                            (click)="confirmNewPasswordHide = !confirmNewPasswordHide">
                            <mat-icon>{{ confirmNewPasswordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <mat-error
                            *ngIf="changePasswordForm?.get('confirmPassword')?.touched || changePasswordForm?.get('confirmPassword')?.dirty">
                            <mat-error *ngIf="changePasswordForm?.get('confirmPassword')?.hasError('required')">
                                Confirm Password is required
                            </mat-error>
                            <mat-error
                                *ngIf="changePasswordForm?.get('confirmPassword')?.hasError('mismatchedPasswords')">
                                Passwords do not match
                            </mat-error>
                        </mat-error>
                    </mat-form-field>

                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                        <button type="button" mat-flat-button color="warn" (click)="cancel()" tabindex="4">
                            Cancel
                        </button>
                        <button type="button" mat-flat-button color="primary" (click)="onSubmit()" tabindex="5">
                            Change Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>