/* You can add global styles to this file, and also import other style files */

@import "app/styles/variables.scss";
@import "app/styles/base.scss";
@import "app/styles/scrollbar.scss";
@import "app/styles/override.scss";
@import "app/styles/mobile.scss";
// @import "app/styles/igrab-theme.scss";

@font-face {
  font-family: Century Gothic;
  src: url("./assets/fonts/Century\ Gothic/GOTHIC.ttf") format("opentype");
}

@font-face {
  font-family: Bold Century Gothic;
  src: url("./assets/fonts/Century\ Gothic/GOTHICB.TTF") format("opentype");
}

// indigo-pink, deeppurple-amber, purple-green and pink-bluegrey.
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
